{% extends "base.html" %}

{% block title %}
  POUNCT SignUp
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block content %}
<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center"><b>SignUp in POUNCT</b></h3>
            <div class="card-text">
                <!--
                <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-danger">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.email.label }}<br>
                        {{ form.email }}<br>
                        {% for error in form.email.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.name.label }}<br>
                        {{ form.name }}<br>
                        {% for error in form.name.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label }}<br>
                        {{ form.password }}<br>
                        {% for error in form.password.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.confirm.label }}<br>
                        {{ form.confirm }}<br>
                        {% for error in form.confirm.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.website.label }}<br>
                        {{ form.website }}<br>
                        {% for error in form.website.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.is_admin() }} 
                        {{ form.is_admin.label }}            
                    </div>
                    <div class="form-group">
                        {{ form.submit() }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--div class="column is-4 is-offset-4">
    <div class="logo">
        <img src="{{ url_for('static', filename='img/logo192.png') }}" alt="logo"/>
    </div>
    <h3 class="title">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}. Go to <a href="{{ url_for('login') }}">login page</a>.
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <fieldset>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password" id="password" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="confirm" placeholder="Confirm Password" id="confirm_password" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="website" name="website" placeholder="website">
                </div>
            </div>

            <button type="submit" class="button is-block is-info is-large is-fullwidth">Sign Up</button>
        </fieldset>
        </form>
    </div>
</div-->

